:root {
    --primary-font: "Manrope", sans-serif;

    --primary-color: #25323f;
    --primary-color--hover: #3f8fd2;
    --success-color: #3ac900;
    --danger-color: #e03c3c;

    --primary-background: #f4f7fa;
    --primary-border: #bbbcb6;
}
